In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('mustard++_text.csv')

In [3]:
print(df.head())

     SCENE           KEY                                           SENTENCE  \
0  1_10004  1_10004_c_00  Well, I'm sure that, uh, you...\r\nhave a lot ...
1  1_10004  1_10004_c_01                                        Who was he?
2  1_10004  1_10004_c_02  His name is Ron.\r\nI met him at my prayer group.
3  1_10004  1_10004_c_03          How long have you been involved with him?
4  1_10004  1_10004_c_04                                      A few months.

  END_TIME  SPEAKER SHOW  Sarcasm Sarcasm_Type Implicit_Emotion  \
0     0:06   PERSON  BBT      NaN          NaN              NaN
1     0:08  SHELDON  BBT      NaN          NaN              NaN
2     0:12   PERSON  BBT      NaN          NaN              NaN
3     0:14  SHELDON  BBT      NaN          NaN              NaN
4     0:16   PERSON  BBT      NaN          NaN              NaN

  Explicit_Emotion  Valence  Arousal
0              NaN      NaN      NaN
1              NaN      NaN      NaN
2              NaN      NaN      NaN
3              NaN      NaN      NaN
4              NaN      NaN      NaN

In [4]:
speakers = df['SPEAKER'].unique()
print(speakers)
print(len(speakers))

['PERSON' 'SHELDON' 'AMY' 'PENNY' 'RAJ' 'HOWARD' 'LEONARD' 'BERNADETTE'
 'PERSON1' 'PERSON2' 'PERSON3' '-' 'OTHER' 'STUART' 'CHANDLER' 'MONICA'
 'DOROTHY' 'ROSE' 'BLANCHE' 'ROSS' 'JOEY' 'RACHEL' 'PHOEBE' 'SOPHIA'
 'SCOTT' 'MODERATOR' 'MEMBER-GIRL' 'MEMBER-BOY' 'GILFOYLE' 'ERLICH'
 'DINESH' 'JARED' 'RICHARD']
33

In [5]:
female_speakers = ['AMY', 'PENNY','BERNADETTE', 'MONICA','DOROTHY', 'ROSE','RACHEL', 'PHOEBE', 'SOPHIA', 'MEMBER-GIRL', 'BLANCHE']
print(len(female_speakers))
male_speakers = ['SHELDON', 'RAJ', 'HOWARD', 'LEONARD', 'STUART', 'CHANDLER', 'ROSS', 'JOEY', 'SCOTT', 'MEMBER-BOY', 'GILFOYLE','ERLICH', 'DINESH', 'JARED', 'RICHARD']
print(len(male_speakers))

11
15

In [6]:
female_speakers_df = df[df['SPEAKER'].isin(female_speakers)]
male_speakers_df = df[df['SPEAKER'].isin(male_speakers)]

female_utterances_count = female_speakers_df.shape[0]
male_utterances_count = male_speakers_df.shape[0]

print(f"Number of female utterances: {female_utterances_count}")
print(f"Number of male utterances: {male_utterances_count}")

Number of female utterances: 1420
Number of male utterances: 2836

In [7]:
female_speakers_df

,SCENE,KEY,SENTENCE,END_TIME,SPEAKER,SHOW,Sarcasm,Sarcasm_Type,Implicit_Emotion,Explicit_Emotion,Valence,Arousal
6,1_10009,1_10009_c_00,"FYI, we plan on selling out the human race hard.",0:02,AMY,BBT,NaN,NaN,NaN,NaN,NaN,NaN
7,1_10009,1_10009_c_01,"In 20 years, who knows what'll happen with any...",0:08,PENNY,BBT,NaN,NaN,NaN,NaN,NaN,NaN
9,1_10009,1_10009_c_03,You do?,0:11,PENNY,BBT,NaN,NaN,NaN,NaN,NaN,NaN
11,1_10009,1_10009_c_05,That's so sweet.,0:16,PENNY,BBT,NaN,NaN,NaN,NaN,NaN,NaN
12,1_10009,1_10009_c_06,What the hell?! Excuse me?,0:17,AMY,BBT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6023,3_S06E05_355,3_S06E05_355_c_1,I was quickly perusing your file--,0:03.874000,MONICA,SV,NaN,NaN,NaN,NaN,NaN,NaN
6026,3_S06E05_355,3_S06E05_355_c_4,Wow. That... that's... super helpful.,0:13,MONICA,SV,NaN,NaN,NaN,NaN,NaN,NaN
6027,3_S06E05_355,3_S06E05_355_c_5,Thank you for that tip.,0:15.916000,MONICA,SV,NaN,NaN,NaN,NaN,NaN,NaN
6028,3_S06E05_355,3_S06E05_355_c_6,"Um, anyway, yeah,",0:18,MONICA,SV,NaN,NaN,NaN,NaN,NaN,NaN
6029,3_S06E05_355,3_S06E05_355_c_7,"I was just curious to know, like, what's it li...",0:22.749000,MONICA,SV,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
female_speakers_df['Sarcasm']
sarcastic_female_utterances = female_speakers_df[female_speakers_df['Sarcasm'] == False]
non_sarcastic_female_utterances = female_speakers_df[female_speakers_df['Sarcasm'] == True]
print(len(sarcastic_female_utterances))
print(len(non_sarcastic_female_utterances))
print(len(female_speakers_df))

185
189
1420

In [9]:
male_speakers_df['Sarcasm']
sarcastic_male_utterances = male_speakers_df[male_speakers_df['Sarcasm'] == False]
non_sarcastic_male_utterances = male_speakers_df[male_speakers_df['Sarcasm'] == True]
print(len(sarcastic_male_utterances))
print(len(non_sarcastic_male_utterances))
print(len(male_speakers_df))

360
375
2836